.Allprofiles img {
  height: 80px;
  width: 80px;

}
.Allprofilespage {

  width: 100%;
  display: inline-block;
}

.Allprofiles {
  text-align: left;
  padding: 50px;
  width: 40%;
  vertical-align: top;
  display: inline-block;
  /* display: inline; */
}
.map {
  /* width: 30%; */
  /* width: 100%; */
}
.Allmaps {
  width: 50%;
  position: relative;
  height: 100vh;
  border: 1px solid grey;

  display: inline-block;
}
